.row.mb-5
  .col
    %h5 New teacher? Add yourself to the list.

    = simple_form_for @teacher, url: teachers_path do |f|
      -# Could use HTML5 validation, but I want to implement flash messages.
      = f.input :name, label: false, placeholder: 'Your name', maxlength: Teacher::MAX_NAME_LENGTH
      = f.submit 'Sign Up & Clock In', class: 'btn btn-dark'
.row
  .col
    %h5 Existing teacher? Find your account.
    - @teachers.each do |teacher|
      .card.p-2.mb-3.bg-light.flex-row.align-items-center
        = teacher.name
        = link_to 'Clock In', clock_in_time_clock_index_path(teacher_id: Teacher.last.id), class: 'ml-auto btn btn-sm btn-secondary'

