.text-center
  %div.mb-5
    %h1= @time_card.teacher_name
  %div.mb-5
    %div
      %small
        %em Clocked In At
    = @time_card.started_at
  %div
    = link_to 'Clock Out', clock_out_time_clock_index_path(time_card_id: @time_card.id), class: 'btn btn-secondary'