= simple_form_for @time_card do |f|
  - if @time_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@time_card.errors.count, "error")} prohibited this time_card from being saved:"
      %ul
        - @time_card.errors.full_messages.each do |message|
          %li= message

  = f.input :teacher_name, readonly: true, disabled: true
  = f.input :started_at, html5: true, required: true
  = f.input :ended_at, html5: true
  = f.button :submit, class: 'btn btn-primary'