%h2.pb-2.mb-3.border-bottom Time Card

= simple_form_for @time_card do |f|
  - if @time_card.errors.any?
    .alert.alert-danger
      %h5 Some errors happened:
      - @time_card.errors.full_messages.each do |message|
        %div= '- ' + message

  = f.input :teacher_name, readonly: true, disabled: true
  = f.input :started_at, html5: true, required: true
  = f.input :ended_at, html5: true
  = f.button :submit, class: 'btn btn-secondary'

  = link_to 'Cancel', time_cards_path, class: 'btn btn-light border'