%table.table.table-bordered.table-sm
  %thead.thead-light
    %tr
      %th Teacher
      %th Started at
      %th Ended at
      %th{colspan: 2}

  %tbody
    - @time_cards.each do |time_card|
      %tr
        %td= time_card.teacher.name
        %td= time_card.started_at
        %td= time_card.ended_at
        %td= link_to 'Edit', edit_time_card_path(time_card)
        %td= link_to 'Destroy', time_card, method: :delete, data: { confirm: 'Are you sure?' }

