!!!
%html
  %head
    %title Clocker
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    -# Remote assets are not ideal, but are faster for prototypes like this.
    %link{crossorigin: "anonymous", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", rel: "stylesheet"}/

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
      %span.navbar-brand Clocker
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Clock In', root_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Time Cards', time_cards_path, class: 'nav-link'

    .container-fluid
      - if flash.any?
        .row
          .col
            .alert.alert-info
              - flash.each do |type, msg|
                = [type.titleize, msg].join(': ')
      .row
        .col
          = yield